.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}

.key-container{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.key{
    border: 2px solid black;
    background-color: rgba(0,0,0,.5);
    padding: 8px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.07s;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd{
    font-size: 26px;
}

